@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    background-color: #faede5;
    color: #106900;
    font-family: 'Lato', sans-serif;
}

a {
    color: #faede5;
}

/*
 * header
 */

h1 {
    text-align: center;
    font-size: 2.3rem;
}

header p {
    text-align: right;
    padding-right: 2rem;
    font-size: 1.3rem;
}

#true_false {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1rem;
}

#informations {
    display: none;
    position: absolute;
    top: 7rem;
    left: 7rem;
    background-color: #106900;
    color: #faede5;
    padding: 2rem;
    border-radius: 15px;
}

#informations p {
    font-size: 1rem;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
}

#informations button {
    background-color: #faede5;
    color: #106900;
    border: none;
    padding: 0.5rem 1rem;
}

#informations button:hover {
    cursor: pointer;
}

#get_info {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    background-color: #106900;
    color: #faede5;
    padding: 1rem;
    border-radius: 15px;
}

#get_info:hover {
    cursor: pointer;
}

/*
* game section
 */

.grabbed {
    opacity: 0.6;
}

#waste_div {
    text-align: center;
    padding-top: 4rem;
}

#waste {
    font-size: 1.3rem;
    cursor: grab;
}

.trash {
    display: flex;
    justify-content: space-evenly;
}

.trash span > i {
    font-size: 10rem;
}

#yellow {
    color: #E0D42B;
}

#yellow:hover {
    color: #ecdb32;
}

#green {
    color: #0B2E13;
}

#green:hover {
    color: #104b1f;
}

#blue {
    color: #16193D;
}

#blue:hover {
    color: #222665;
}

#brown {
    color: #69471E;
}

#brown:hover {
    color: #8a5925;
}

/*
* result section
 */

#result {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    width: 100%;
}

#result p > span {
    font-weight: bold;
    font-size: 1.1rem;
}

/*
* responsive
 */